{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle":  ["off", { "allow": ["id"] }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "indent": "off"
 }
}